@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Поръчка";
}
<div class="container">
    <div class="checkout__form">
        <form asp-action="Place" method="post" id="finishOrder">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <h6 class="checkout__title">Информация за доставка</h6>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                @Html.HiddenFor(m => m.OrderId)
                                @Html.HiddenFor(m => m.TotalCost)
                                <p>
                                    <label asp-for="@Model.CustomerFirstName"></label><span>*</span>
                                </p>
                                <input asp-for="@Model.CustomerFirstName" type="text" value="@Model.CustomerFirstName">
                                <span asp-validation-for="@Model.CustomerFirstName" class="small text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>
                                    <label asp-for="@Model.CustomerLastName"></label><span>*</span>
                                </p>
                                <input asp-for="@Model.CustomerLastName" type="text" value="@Model.CustomerLastName">
                                <span asp-validation-for="@Model.CustomerLastName" class="small text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>
                            <label asp-for="@Model.CustomerAddress"></label><span>*</span>
                        </p>
                        <input asp-for="@Model.CustomerAddress" type="text" value="@Model.CustomerAddress" class="checkout__input__add">
                        <span asp-validation-for="@Model.CustomerAddress" class="small text-danger"></span>
                    </div>
                    <div class="checkout__input">
                        <p>
                            <label asp-for="@Model.CustomerCity"></label><span>*</span>
                        </p>
                        <input asp-for="@Model.CustomerCity" value="@Model.CustomerCity" type="text">
                        <span asp-validation-for="@Model.CustomerCity" class="small text-danger"></span>
                    </div>
                    <div class="checkout__input">
                        <div class="checkout__input">
                            <p>
                                <label asp-for="@Model.CustomerZipCode"></label><span>*</span>
                            </p>
                            <input asp-for="@Model.CustomerZipCode" type="text" value="@Model.CustomerZipCode">
                            <span asp-validation-for="@Model.CustomerZipCode" class="small text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>
                                    <label asp-for="@Model.CustomerPhoneNumber"></label><span>*</span>
                                </p>
                                <input asp-for="@Model.CustomerPhoneNumber" type="text" value="@Model.CustomerPhoneNumber">
                                <span asp-validation-for="@Model.CustomerPhoneNumber" class="small text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="checkout__order">
                        <h4 class="order__title">Продукти</h4>
                        <div class="checkout__order__products">Име <span>Общо</span></div>
                        <ul class="checkout__total__products">
                            @foreach (var product in Model.Products)
                            {
                                <li>@product.Name <span>@(product.Price * product.Quantity)лв.</span></li>
                            }

                        </ul>
                        <ul class="checkout__total__all">
                            <li>Общо <span>@(Model.TotalCost)лв.</span></li>
                        </ul>
                        <a href="#" onclick="document.getElementById('finishOrder').submit();" type="submit" class="site-btn">
                            Завърши
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>