@using LightBulbsStore.Core.Models.Cart
@model CartViewModel
@{
    ViewData["Title"] = "Количка";
}

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            @if (ViewBag.CartIsEmpty)
            {
                <div class="centered">
                    <h3>Количката е празна!</h3>
                </div>
            }
            else
            {

                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>ПРОДУКТ</th>
                                    <th>КОЛИЧЕСТВО</th>
                                    <th>ОБЩО</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td class="product__cart__item">
                                            <div class="product__cart__item__pic">
                                                <img src="@product.ImageUrl" alt="">
                                            </div>
                                            <div class="product__cart__item__text">
                                                <a asp-controller="Product" asp-action="Info" asp-route-productId="@product.Id"><h6>@product.Name</h6></a>
                                                <h5>@product.Price лв</h5>
                                            </div>
                                        </td>
                                        <td class="quantity__item">
                                            <div class="quantity">
                                                <div class="pro-qty-2">
                                                    <form method="post" asp-controller="Cart" asp-action="Update" asp-route-cardId="@Model.CartId" id="updateQuantityForm">
                                                        <input asp-for="Products.FirstOrDefault(p => p.Id == product.Id)" type="text" value="@product.Quantity" >
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart__price">@product.TotalPrice лв</td>
                                        <td class="cart__close">
                                            <a asp-controller="Cart" asp-Action="RemoveProduct" asp-route-productId="@product.Id">
                                                <i class="fa fa-close"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a asp-controller="Product" asp-action="Index">Продължи да пазаруваш</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#" onclick="document.getElementById('updateQuantityForm').submit();">
                                    <i class="fa-solid fa-arrow-up"></i> Обнови количката
                                </a>
                                @*                            <button class="btn btn-link" type="submit" onclick="document.getElementById('quantityForm').submit();">
                                    <i class="fa-solid fa-arrow-up"></i> Обнови количката
                                    </button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Общо в количката</h6>
                        <ul>
                            <li>Total <span>@Model.TotalPrice лв</span></li>
                        </ul>
                        <a asp-controller="Order" asp-action="Index" class="primary-btn">Поръчай</a>
                    </div>
                </div>
            }

        </div>
    </div>
</section>